<% layout("/layouts/boilerplate.ejs") %>
<link rel="stylesheet" href="/css/catering/edit.css">

<h2>Edit Catering Details</h2>

<!-- Form Section -->
<form action="/catering/<%= catering._id %>?_method=PUT" method="POST" class="catering-form needs-validation" novalidate>
    <!-- Catering Title -->
    <div class="mb-3">
        <label for="cateringTitle" class="form-label">Catering Title</label>
        <input type="text" class="form-control" id="cateringTitle" name="catering[title]" value="<%= catering.title %>" placeholder="Enter catering title" required>
        <div class="invalid-feedback">
            Please provide a valid catering title.
        </div>
    </div>
    
    <!-- Catering Image URL -->
    <div class="mb-3">
        <label for="cateringImage" class="form-label">Image URL</label>
        <input type="text" class="form-control" id="cateringImage" name="catering[image]" value="<%= catering.image %>" placeholder="Enter image URL">
        <div class="invalid-feedback">
            Please provide a valid image URL.
        </div>
    </div>
    
    <!-- Catering Description -->
    <div class="mb-3">
        <label for="cateringDescription" class="form-label">Description</label>
        <textarea class="form-control" id="cateringDescription" name="catering[description]" placeholder="Enter description" required><%= catering.description %></textarea>
        <div class="invalid-feedback">
            Please provide a description.
        </div>
    </div>
    
    <!-- Catering Location -->
    <div class="mb-3">
        <label for="cateringLocation" class="form-label">Location</label>
        <input type="text" class="form-control" id="cateringLocation" name="catering[location]" value="<%= catering.location %>" placeholder="Enter catering location" required>
        <div class="invalid-feedback">
            Please provide a valid location.
        </div>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary btn-action">Save</button>
    <!-- Cancel Button -->
    <a href="/catering/<%= catering._id %>" class="btn btn-primary btn-action">Cancel</a>
</form>

